{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-16 lg:col-10 text-center">
          {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6 rounded-full" "Size" "200x200") }}
          <h2 class="h3 mb-6">{{ .Title }}</h2>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
      <div class="row">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
          Education 
        </h1>
        <div class="flex flex-row">
          <div class="basis-1/4 font-semibold">September, 2022 - March, 2025</div>
          <div class="basis-3/4">
            <div class="font-semibold">
            Dual Master Degree of Data Science & Information Technology
            </div>
            <div>
              GIX of Tsinghua and Washinton University
            </div>
            <div>
              Supervisor: Chair Professor <a href="https://www.cse.msu.edu/~liuyunha/" class="hover:text-blue-600 italic">Yunhao Liu</a>, GPA: 3.94/4.0
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4 font-semibold">September, 2018 - July, 2022</div>
          <div class="basis-3/4">
            <div class="font-semibold">
            Bachelor Degree of Engineering in Industrial Design
            </div>
            <div>
              Beijing University of Technology
            </div>
            <div>
              GPA: 4.0/4.0, Ranking: Top 1/46
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4 font-semibold">Relevant Courses</div>
          <div class="basis-3/4 font-semibold" >
            Deep-Learning(A-), Signal and Data Processing(A), Sensors and Circuits (A), Design Thinking(A), Human Computer Interaction Technology(A-), Leadership and Communication(A-), User Experience Design(A)
          </div>

        </div>

      </div>
      <div class="row">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
          Honors And Awards 
        </h1>
        <div class="flex flex-row">
          <div class="basis-1/4 ">2023.10</div>
          <div class="basis-3/4 " >
            Tsinghua University Comprehensive Excellence Second Prize Scholarship
          </div>
          </div>
          <div class="flex flex-row">
          <div class="basis-1/4 ">2023.10</div>
          <div class="basis-3/4 " >
            Tsinghua University Outstanding Scholarshop in Social Work
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4">2022.10</div>
          <div class="basis-3/4">
            Tsinghua University Comprehensive Excellence Second Prize Scholarship
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4">2022.06</div>
          <div class="basis-3/4">
            Outstanding Graduate of Beijing
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4">2021.04</div>
          <div class="basis-3/4">
            Special Award of National Five-Minute Research English Presentation Competition(Top 1%)
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4">2020.12</div>
          <div class="basis-3/4">
            First Prize in Beijing Cultural and Creative Design Competition(Top 1% Patented)
          </div>
        </div>
      </div>
     
      <div class="row">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
          Work Experiences 
        </h1>
        <div class="flex flex-row">
          <div class="basis-1/4">
            <div class="font-semibold">Dec 2021 - Jul 2022</div>
            <div>Fuyao Group | Fuzhou</div>
            <div>Information Department Intern</div>
          </div>
          <div class="basis-3/4">
            <ul class="list-disc list-inside">
              <li>
                Participated in projects of Tsinghua-Fuyao Joint Research Center on printing flower arrangement and auto glass inspection.
              </li>
              <li>
                Participated in the interior structure and exhibition interaction design of Artificial Intelligence Data Center of Fuyao University of Technology.
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="basis-1/4">
            <div class="font-semibold">Jan 2020 - Mar 2020</div>
            <div>Baidu China | Beijing</div>
            <div>User Experience Design Intern</div>
          </div>
          <div class="basis-3/4">
            <ul class="list-disc list-inside">
              <li>
                Designed interfaces and animations for Baidu App's Chinese New Year Game.
              </li>
              <li>
                Analyzed the game from the perspectives of user feedback, competitive products and enterprise operation strategy with the team
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
          Social Works 
        </h1>
        <div class="font-semibold">
          2023 ACM China Turing Award Celebration | Committee Member & Student Volunteer
        </div>
        <ul class="list-disc list-inside">
          <li>
            Responsible for reception of ACM President Prof. Yannis, celebration organizing and conference visual design.
          </li>
          <li>
            Honored with the 'Outstanding Contribution Award'
          </li>
        </ul>
        <div class="font-semibold">
          International Department, Graduate Union, THU | Leader of TopTalk Seminar
        </div>
        <ul class="list-disc list-inside">
          <li>
            Organized the 56th - 58th TopTalk Seminar, responsible for publicity and on-site coordination
          </li>
          <li>
            Hosted the 58th (Nobel laureate: Jules Hoffmann) and 61th (Nobel laureate: Anthony Leggett) TopTalk Seminar
          </li>
        </ul>
        <div class="font-semibold">Graduate Union, Department of Computer Science, THU | Leader of Publicity Department</div>
        <div class="font-semibold">GIX Class 2022 | Vice-monitor</div>
        <ul class="list-disc list-inside">
          <li>
            Responsible for the management of "Ji Xiao Yan" Wechat official account, and cultural creative product design
          </li>
        </ul>
      </div>
      <div class="row">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
          Academic Experiences 
      </h1>
      <div class="flex flex-row">
        <div class="basis-1/4">
          <div class="font-semibold">Aug 2022 - Present</div>
          <div>Graduate Period</div>
          <div>Supervisor: Chair Professor Yunhao Liu & Associate Research Professor Kebin Liu</div>
        </div>
        <div class="basis-3/4">
          <div class="font-semibold">
            Understanding the Quality of User Experience in Telepresence Systems from an Information Theory Perspective(<span>IEEE TCE'24</span>, First Author)
          </div>
          <ul class="list-disc list-inside">
            <li>
              Introduced a novel model to quantify the multimodality information users received in VCSs, and transormed the assessment of UX quality into the measurement of a set of information channels. Then designed and validated our low cost multimodality immersive VCS based on the insights and guidelines we gained above.
            </li>
           
          </ul>
          <div class="font-semibold">
            BuildEnVR: An Immersive Analysis System for Indoor Environmental Field
          </div>
          <ul class="list-disc list-inside">
            <li>
              To facilitate the perception and analysis of indoor environmental fields, we immersive virtual reality analysis system enables remote analysis of both real-time and historical environmental field data. 
            </li>
          </ul>
          <div class="font-semibold">
            Participated in MOST 2023 "New Generation of AI" as a sub-project Member
          </div>
          <ul class="list-disc list-inside">
            <li>Guided by professor Songchun Zhu from Peking University and BIGAI, participating in project three "Singleagent decision and execution driven by value function"</li>
            
          </ul>
          <div class="font-semibold">One of the illustrators of the book "Academicians Unlock Chinese Science and Technology: The World of Visible Informaton" published in Jan 2023</div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-1/4">
          <div class="font-semibold">Sep 2020 - Jul 2021</div>
          <div>Future Laboratory | Olfactory Computing Team</div>
          <div>Advisor: Professor Yingqing Xu</div>
        </div>
        <div class="basis-3/4">
          <div class="font-semibold">Physical Scent Acquisition and Emitting Device for Scent Camera</div>
          <ul class="list-disc list-inside">
            <li>
              Changed the way scents are stored and emitted; optimized the hardware system to reduce the device volume by 50% and extend the scent retention time.
            </li>
            
          </ul>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-1/4">
          <div class="font-semibold">Jul 2021 - Aug 2021</div>
          <div>Interaction Design Lab</div>
          <div>Shanghai Jiaotong University</div>
        </div>
        <div class="basis-3/4">
          <div class="font-semibold">Interactive Olfactory Training Device for Alzheimer's Disease</div>
          <ul class="list-disc list-inside">
            <li>
              Integrated multisensory therapy with olfactory training by using metaphor design, and provided a more accessible and enjoyable rehabilitation traing experience.
            </li>
           
          </ul>
        </div>
      </div>

      </div>
      <div class="row">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
          Skills 
      </h1>
      <div class="flex flex-row">
        <div class="basis-1/4">Design Tools</div>
        <div class="basis-3/4">
          Solidworks, UE5, 3dsMax, KeyShot, Cinema 4D, Unity, Figma, Xd, Ai, Ps, Pr, Final Cut 
        </div>
      </div>
      <div class="flex flex-row">
        <div class="basis-1/4">Technical Tools</div>
        <div class="basis-3/4">
          C, HTML, CSS, Python, Arduino, Processing, Tensorflow, Matlab, SPSS
        </div>
      </div>
      <div class="flex flex-row">
        <div class="basis-1/4">Design Methods</div>
        <div class="basis-3/4">
          Field Investigation, Survey, Territory Map, Affinity Diagram, Laddering, Persona, Customer Journey Map, Service Blueprint, Sketching, Wireframing, Story Board, Rapid Prototyping
        </div>
      </div>


      </div>
    </div>
  </section>
{{ end }}
