{{ define "main" }}

<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-0 pb-0">
  <div class="w-screen mt-4">
    {{ with .image }}
    {{ with resources.Get . }}
    <div class="pt-48 bg-cover bg-mask-grey bg-blend-overlay bg-center h-[36rem] bg-[url('{{ .RelPermalink }}')]">
      {{ end }}
      {{ end }}
      <div class="container">
        <h1 class="mb-4 text-white">
          {{.name | markdownify}}
        </h1>
        <p class="mb-4 text-2xl text-white">
          <i class="fa-solid fa-envelope mr-2"></i> {{ .email | markdownify }}
        </p>
        <p class="mb-4 text-2xl text-white">
          <i class="fa-solid fa-location-pin mr-2"></i> {{ .addr | markdownify }}
        </p>
        <div class="mb-4 text-white">
          <a
                target="_blank"
                aria-label="LinkedIn"
                rel="nofollow noopener"
                href="{{ .linkedin | safeURL }}">
                <i class="fa-brands fa-linkedin text-4xl mr-2"></i>
          </a>
          <a
                target="_blank"
                aria-label="Github"
                rel="nofollow noopener"
                href="{{ .github | safeURL }}">
                <i class="fa-brands fa-github text-4xl"></i>
          </a>          
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Bio -->
<section id="biography" class="section-sm bg-gradient">
  <div class="container">
    <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-user text-purple-600"></i> BIOGRAPHY</h3>
    <div class="prose-xl">
      {{ .Params.biography | markdownify }}
    </div>
</section>
<!-- /Bio -->
{{ with site.GetPage "sections/publications" }}

<section id="publications" class="scroll-mt-24 section-sm bg-gradient">
  <div class="container">
    <div class="row">
      <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-newspaper text-purple-600"></i> {{ .Title | markdownify }}</h3>

    </div>
    <div class="row">
      <p>
        {{ .Params.description }}
      </p>
    </div>


    <ol class="list-decimal">
      {{ range $i, $e := .Params.publications }}
      <li> {{ partial "publications" (dict "order" $i "item" .) }} </li>
      {{ end }}
    </ol>
  </div>

</section>

{{ end }}
<!-- Projects -->

  <section id="projects" class="scroll-mt-24 section-sm bg-gradient">
    <div class="container">
      <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-list-check text-purple-600"></i> Projects</h3>
      <div class="row">
        <!-- blog posts -->
        <div class="">
          <div class="row">
            {{ $p :=  (where .Site.RegularPages "Section" "blog")}}
            {{ $paginator:= .Paginate (where $p "Params.categories" "intersect" (slice "Projects"))  4 }}
            {{ range $paginator.Pages }}
              <div class="md:col-3 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
      
       
      </div>
    </div>
  </section>




<!-- /Projects -->

<!-- Bio -->
<section id="others" class="scroll-mt-24 section-sm bg-gradient">
  <div class="container">
    <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-palette text-purple-600"></i> OTHER WORKS</h3>
    {{ .Content }}
    <p class="prose-base hover:prose-a:text-purple-600 prose-a:no-underline hover:prose-a:underline">
      {{ .Params.others | markdownify }}
  </p>
</section>
<!-- /Bio -->







{{ end }}